.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.main {
    display: flex;
}

.shops-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 2px solid black;
    flex: 0 0 20%;
    margin-right: 20px;
    padding-right: 20px;
    padding-top: 10px;
    min-height: calc(100vh - 97px);
}

.shops__title {
    margin: 0;
}

.shop-item {
    color: 20px;
    padding: 10px 15px;
}