.cart-item {
  display: flex;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.cart-item__img {
  width: 120px;
  height: 120px;
}

.cart-item-info__title {
  font-size: 20px;
  margin: 0 0 15px 0;
}

.cart-item-info__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.cart-item-info__price {
  margin: 0;
}

.cart-item-count__btn {
  width: 30px;
  height: 30px;
}

.cart-item-count input {
  padding: 4px 2px;
  width: 50px;
  margin: 0 10px;
}

.cart-item-info__delete {
  background: #a01010;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.cart-item-info__delete:hover {
  box-shadow: 0px 0px 7px 1px #a01010;
  cursor: pointer;
}