.cart-success-message {
  color: #fff;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 15px;
}

.cart-success-message.success {
  background: #006100;
}

.cart-success-message.error {
  background: #a01010b3;
}

.cart-success-message__text {
  font-size: 18px;
  margin: 0;
}

.cart__row {
  display: flex;
  gap: 15px;
}

.cart-items {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-height: 300px;
}

.cart__bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.cart__total-price {
  margin: 0 15px 0 0;
  font-size: 20px;
}

.cart__button {
  padding: 8px 20px;
  font-size: 18px;
}
