.form {
  border: 1px solid black;
  border-radius: 10px;
  flex: 0 0 48%;
  padding: 20px;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item:not(:last-child) {
  margin-bottom: 15px;
}

.from__label {
  margin-bottom: 7px;
}